@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
    // Header
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: block;
            width: 100px;
            margin-left: 25px;
        }
        #btn_menu:checked ~ .menu{
            visibility: visible;
            opacity: 1; 
        }
        label{
            display: block;
            position: relative;
            right: 25px;
            img{
                width: 50px;
            }    
        }
        .menu{
            position: absolute;
            top: 98px;
            background-color: #E8C57E;
            width: 100vw;
            visibility: hidden;
            z-index: 1;
            transition: visibility 1s, opacity 1s ease;
            opacity: 0;
            ul{
                flex-direction: column;
            }
        }
    }
    .logo-hidden{
        display: none;
    }
}